[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
olefile = "*"
pillow = "*"
pytz = "*"
django-heroku = "*"
gunicorn = "*"
"boto3" = "*"
django-storages = "*"


[dev-packages]



[requires]

python_version = "3.6"
