<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
  <title>Vehicle Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/vehicles.css' %}">

</head>

<body>
  <div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Food Bank</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_superuser %}
            <li class=""><a href="/admin">Admin</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class=""><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="main">
      {% block content %}
      {% endblock %}
    </div>

    <div>
      <img class="logo" src="{% static 'img/logo.png' %}">
      <p class="footer-text">Fighting hunger in 34 counties...<br/>so no one goes hungry.</p>
    </div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=API_KEY_HERE&libraries=places"></script>
  <script src="{% static 'lib/jquery.geocomplete.min.js' %}"></script>

</body>
</html>
