{% extends 'base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h3>Welcome to the Food Bank<br/>Vehicle Tracker</h3><br/>
       </div>
    </div>

    <div class="form-container">
      {% if user_status.on_trip %}
      <h3>Your current trip:</h3>
      <h4>Vehicle: <span>{{ trip.vehicle }}</span></h4>
      <h4>Destination: <span>{{ trip.destination }}</span></h4>
      <h4>Began Trip At  <span>{{ trip.time_check_out }}</span></h4>
      <a href="/vehicles/trip_finish"><button>Finish This Trip</button></a>
      {% else %}
        <h3>Begin A New Trip</h3>
        <h3>Select a vehicle:</h3>
        <div class="vehicle-container">
        {% for stat in vehicles_stats %}
          {% if not stat.on_trip %}
          <div class="vehicle">
            <form name="click_vehicle" method="post" action="{% url 'vehicles:trip_begin' %}">
                {% csrf_token %}
                <input type="hidden" name="flag" value="clicked" />
                <input type="hidden" name="id_vehicle" value="{{ stat.vehicle.desc }}">
                <a href="#" onclick="document.forms[0].submit();return false;">
                    <img class="vehicle-image" src="{{ stat.vehicle.photo.url }}">
                </a>
            </form>
            <h4 class="vehicle-desc">{{ stat.vehicle.desc }}</h4>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}

    </div>

</div>
{% endblock %}
