{% extends 'base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h3>Welcome to the Food Bank<br/>Vehicle Tracker</h3><br/>
       </div>
    </div>

    <div class="form-container">
      {% if user_status.on_trip %}
      <h3>Your current trip:</h3>
      <h4>Vehicle: <span>{{ trip.vehicle }}</span></h4>
      <h4>Destination: <span>{{ trip.destination }}</span></h4>
      <h4>Began Trip At  <span>{{ trip.time_check_out }}</span></h4>
      <button>Finish This Trip</button>
      {% else %}
        <h3>Begin A New Trip</h3>
        <h3>Select a vehicle:</h3>
        <div class="vehicle-container">
        {% for stat in vehicles_stats %}
          {% if not stat.on_trip %}
            <img class="vehicle-image" src="{{ stat.vehicle.photo.url }}">
            <h4 class="vehicle-desc">{{ stat.vehicle.desc }}</h4>
          {% endif %}
        {% endfor %}
        </div>
        <input id="new-trip-button" type="submit" value="Start New Trip" />
      {% endif %}

    </div>

</div>
{% endblock %}
