
.main {
  margin-top: 60px;
  margin-bottom: 120px;
  text-align: center;
  overflow: scroll;
}

.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+80&0+0,1+80 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.logo {
  /*position: absolute;
  bottom: 0;
  left: 0;
  width: 30vw;
  max-width: 140px;
  float: left;*/
  height: 160px;
}

.footer-text {
  text-align: right;
  align-self: flex-end;
  /*position: absolute;
  bottom: 0;
  right: 20px;*/
}

.btn {
  font-size: 17px;
  margin: 1vw;
  background-color: #568E2D;
  border-color: #568E2D;
}

.btn:hover {
  background-color: #488120;
  border-color: #488120;
}

li {
  list-style: none;
}

table {
  margin: auto;
  margin-bottom: 2vw;
  width: 80vw;
  max-width: 480px;
}

tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

tr:nth-child(odd) {
  background-color: #eeeeee;
}

td, th {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

th {
  margin-left: 10px;
}

th label {
  margin: auto;
  margin-left: 0;
}

td {
  text-align: right;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 10px;
}

td input {
  margin: auto !important;
  margin-right: 0 !important;
}

#id_destination {
    margin-left: 0 !important;
}

table, table * {
  border-radius: 4px;
}

table input, textarea {
  border: 1.5px solid #aaaaaa;
}

*[type=submit] {
  border: 1.5px solid #aaaaaa;
  background-color: #efefef;
  border-radius: 4px;
}

table select {
  background-color: #ffffff;
}

.trip-title {
  padding-top: 24px;
  margin-bottom: 24px;
}

.vehicle-image {
  height: 180px;
  margin: auto;
}

#new-trip-button {
  margin-top: 20px;
}

.vehicle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto 20px auto 20px;
}

.vehicle {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px;
  margin: 12px;
}

.vehicle:hover {
  border-color: #999;
  box-shadow: 4px 4px 8px #ddd;
}
